@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(153, 153, 153);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: calc(15px + 0.390625vw);
}

.firstRowEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondRowEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
